<div id="leftSideNavigation" class="leftSideNavigation">
<center>
<a href="http://www.internet2.edu/performance/toolkit/"><img align="center" height="100" style="border-style: none" src="/toolkit/content/images/pstk-logo.png"></a><br>
</center>
<ul>
<li class="title">Slice Overview</li>
<li><a href="/toolkit/gui/services">Configuration Status</a></li>
<li><a href="/toolkit/gui/perfAdmin/directory.cgi">Registered Services</a></li>
</ul>
<ul>
<li class="title">Visualization</li>
<li><a href="/toolkit/gui/perfAdmin/serviceTest.cgi?url=http://localhost:9990/perfSONAR_PS/services/SNMPMA&amp;eventType=http://ggf.org/ns/nmwg/characteristic/utilization/2.0">Periscope</a></li>
<li><a href="/toolkit/gui/perfAdmin/serviceTest.cgi?url=http://localhost:8085/perfSONAR_PS/services/pSB&amp;eventType=http://ggf.org/ns/nmwg/tools/iperf/2.0">Throughput</a></li>
<li><a href="/toolkit/gui/perfAdmin/serviceTest.cgi?url=http://localhost:8085/perfSONAR_PS/services/pSB&amp;eventType=http://ggf.org/ns/nmwg/characteristic/delay/summary/20070921">One-Way Latency</a></li>
<li><a href="/toolkit/gui/perfAdmin/serviceTest.cgi?url=http://localhost:8075/perfSONAR_PS/services/pinger/ma&amp;eventType=http://ggf.org/ns/nmwg/tools/pinger/2.0/">Ping Latency</a></li>
<li><a href="/toolkit/gui/perfAdmin/serviceTest.cgi?url=http://localhost:9990/perfSONAR_PS/services/SNMPMA&amp;eventType=http://ggf.org/ns/nmwg/characteristic/utilization/2.0">Host Monitoring</a></li>
</ul>
<ul>
<li class="title">Configuration</li>
<li><a href="/toolkit/admin/administrative_info">Access Policy</a></li>
<li><a href="/toolkit/admin/enabled_services/index.cgi">Enabled Services</a></li>
<li><a href="/toolkit/admin/ntp">Clock Synchronization</a></li>
<li><a href="/toolkit/admin/regular_testing">Scheduled Tests</a></li>
<li><a href="/toolkit/admin/ntp">Host Monitoring</a></li>
</ul>
<ul>
<ul>
<li class="title">Performance Toolkit</li>
<li><a rel="external" target="_blank" href="http://psps.perfsonar.net/toolkit/quickstart">Configuration Help</a></li>
<li><a rel="external" target="_blank" href="http://psps.perfsonar.net/toolkit/FAQs.html">Frequently Asked Questions</a></li>
<li><a rel="external" target="_blank" href="http://psps.perfsonar.net/toolkit/">About</a></li>
<li><a rel="external" target="_blank" href="http://psps.perfsonar.net/toolkit/credits.html">Credits</a></li>
</ul>
<center>
<p>
<a href="http://perfsonar.net/"><img align="center" style="border-style: none" height="50" src="/toolkit/content/images/PerfSONAR-powered-CMYK.png"></a>
</p>
</center>
</div>
