[% title = "LAMP I&M System" %]
[% IF site_name; SET title = "${title} for Slice ${site_name}"; END %]
[% IF site_name AND site_location; SET title = "${title} at ${site_location}"; END %]

[% INCLUDE header.tmpl %]

<div class="mainContainer">
<div class="rContainer">
<div class="subTitle1">[% title %]</div>

<div class="rcontainer">
    <table class="basic_table">
        <tr><th  style="width: 600px" colspan=2>Configured Services</th></tr>
	[% FOREACH node_pair IN nodes %]
	    <tr><td class="top" colspan="2">Node [% node_pair.value.name %]</td>
	    [% FOREACH service_pair IN node_pair.value.SERVICES %]
	        <tr>
	            <td class="top">[% service_pair.value.description %][% IF service_pair.value.url %]<sup>[<a target="_blank" href="[% service_pair.value.url %]">1</a>]</sup>[% END %]</td>
		        <td class="top">
		            [% IF service_pair.value.enabled == "true" %]
			            <font color="green">Enabled</font>
		            [% ELSIF service_pair.value.enabled == "false" %]
			            <font color="red">Disabled</font>
		            [% END %]
		        </td>
		    </tr>
		[% END %]
	[% END %]
	</table>

	<table class="basic_table">
		<tr><th style="width: 400px" colspan=2>Software Versions</th></tr>
		<tr><td><a rel="external" target="_blank" href="http://psps.perfsonar.net/toolkit/">pS-Performance Toolkit</a></td><td>[% toolkit_version %]</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/pS-PS/index.html">perfSONAR-PS Lookup Service</a></td><td>3.1</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/pS-PS/index.html">perfSONAR-PS PingER MA/MP</a></td><td>3.1</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/pS-PS/index.html">perfSONAR-PS perfSONAR-BUOY</a></td><td>3.1</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/pS-PS/index.html">perfSONAR-PS SNMP MA</a></td><td>3.1</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/bwctl/">BWCTL</a></td><td>1.3</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/owamp/">OWAMP</a></td><td>3.2rc2</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.internet2.edu/performance/ndt/">NDT</a></td><td>3.5.14</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.psc.edu/networking/projects/pathdiag/">NPAD</a></td><td>1.5.6</td></tr>
		<tr><td><a rel="external" target="_blank" href="http://www.cacti.net/">Cacti</a></td><td>0.8.7e</td></tr>
	</table>

</div>
</div>
</div>

[% INCLUDE footer.tmpl %]
